html {
  font-family: "Noto Sans", sans-serif;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav a {
  color: #005e76;
  text-decoration: none;
  border-bottom: .1em solid #0084a6;
}

.heading {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}
